*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    border: 1px solid #dbdbdb;
    width: 798px;
}
table{
    width: 798px;
    border: 0;
    border-collapse:collapse;
    text-align: left;
}
thead{
    font-weight: normal;
    
}
thead tr{
    height: 40px;
    line-height: 40px;
    color: #333333;
    background: #ededed;
    
}
thead tr th{
    font-weight: normal;
}
th,td{
    padding-left: 20px;
}
tbody tr td{
    height: 90px;
    line-height: 90px;
    font-size: 14px;
    color: #333333;
}
.color-1{
    color: #bababa;
}
.color-2{
    color: red;
    font-size: 30px;
    font-weight: bold;
}
.unselected{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #7c589b;
}
.edit{
    height: 90px;
    line-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}
.selected{
    background: #dbdbdb;
}

