*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    border: 1px solid #dbdbdb;
    width: 798px;
}
.header{
    font-size: 18px;
    color: #333333;
    background: #ededed;
    line-height: 40px;
    padding-left: 10px;
}
.content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.line{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name{
    font-size: 12px;
    color: #dbdbdb;
    width: 123px;
    text-align: right;
    height: 34px;
    line-height: 34px;
}
.red{
    color: red;
}
input{
    padding-left: 15px;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    height: 34px;
    border-radius: 3px;
}
.in{
    width: 256px;
}
input:focus{
    border-color: #bdbdbd;
}
.area_code{
    width: 76px;
    box-sizing: border-box;
}
.phone{
    margin-left: 10px;
    width: 170px;
}