*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    border: 1px solid #000;
    width: 830px;
    padding-left: 30px;    
    padding-top: 26px;
    color: #666666;
}
.line{
    display: flex;
    flex-direction: row;
    height: 26px;
    margin-bottom: 16px;
}
.line:last-child{
    margin-bottom: 26px;
}
.td1{
    width: 280px;
}
.td2{
    flex: 1;
}
.name{
    font-size: 12px;
    font-weight: bold;
}
.name-value{
    font-size: 12px;
}
.color-1{
    color: #e50012;
}
.color-1:hover{
    text-decoration:underline;
}
.color-2{
    color: #ff8a00;
}